In [1]:
##check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [2]:
##if statement
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [3]:
##string concatenation
a="Hii"
b="python"
c=a+b
print(c)

Hiipython

In [5]:
a="Hii"
b="python"
c=a+" "+b
print(c)

Hii python

In [4]:
##f string format
age = 21
txt=f"my name is LK, I am {age}"
print(txt)

my name is LK, I am 21

In [15]:
##price variable
price=2
txt=f"The price is {price:2f} dollars"
print(txt)

The price is 2.000000 dollars

In [16]:
txt=f"The price is {20*47} dollars"
print(txt)

The price is 940 dollars

In [17]:
##true or false
a=10
b=20
if b>a:
    print("b is greater than a")
else:
    print("b is not greate than a")

b is greater than a

In [20]:
a="Hello"
b=20
print(bool(a))
print(bool(b))

True
True

In [23]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [37]:
##change item value
thislist=["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[3:5]="blackcurrent"
print(thislist)

['apple', 'banana', 'cherry', 'b', 'l', 'a', 'c', 'k', 'c', 'u', 'r', 'r', 'e', 'n', 't', 'mango']

In [8]:
##format() map
myvar ={"name": "LK", "age": "21"}
txt = "Happy birthday {name} you are now on level {age}!"
print(txt.format_map(myvar))

Happy birthday LK you are now on level 21!

In [11]:
##find() method
txt="Hello, welcome to my world"
x=txt.find("my")
print(x)

18

In [14]:
##encode() method
txt = "my name is LK"
x = txt.encode()
print(x)

b'my name is LK'

In [21]:
##join() method
txt=("john", "peter", "vicky")
x=".".join(txt)
print(x)

john.peter.vicky

In [22]:
##list() function
x=list(('apple', 'banana', 'cherry'))
print(x)

['apple', 'banana', 'cherry']

In [23]:
##index number
age=21
name="Lokesh"
txt="His name is {1}. {1} is {0} years old"
print(txt.format(age, name))

His name is Lokesh. Lokesh is 21 years old

In [25]:
##named index
myorder="I have a {carname}, it is a {model}"
print(myorder.format(carname="ford", model="mustang"))

I have a ford, it is a mustang